<div class="container-upload-file"  appDnd
(filesDropped)="handleDroppedFiles($event)">
<mat-icon class="cloud-icon" >cloud_upload</mat-icon>

<input type="file" style="display: none;" (change)="handleFileInput($event)" #fileInput>
  <h3 class="title-upload-file" >Drag & Drop or <span class="input-upload-file" (click)="fileInput.click()">Choose file</span> to upload</h3>
  <p class="text-upload-file">600 MB max file size.</p>
</div>
<div class="upload-files-list" *ngIf="files.length > 0" >
	<div class="upload-single-file" *ngFor="let file of files; let i = index">
		<div class="info-file">
            <div class="info-files-list">
			
				<h4 class="name-files-list">{{ file.name }}</h4> 
				<p class="size-files-list">{{ formatFileSize(file.size) }}</p>
   
		   </div>
		   <div >
			   <button class="btn-delete-upload-file" (click)="removeFile(i)" >X</button>
		   </div>
		</div>
		<div class="content-progres">
			<div class="progress-cont">
				<div class="progress" [style.width]="uploadProgress + '%'"></div>
				
			</div>
			<p class="text-progres">{{uploadProgress}}%</p>
		</div>
		
		  
		
	</div>
	
</div>

